/* Estilos globales */
#root {
  background-color: #15202b;
}
html{
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#profile-background-image {
  background-image: url("https://img.freepik.com/foto-gratis/playa-tropical_74190-188.jpg");
  height: 100px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#profile-image {
  position: absolute;
  top: 50px;
  left: 15px;
}

.col-3 {
  height: 100vh !important;
}
.sidebarButtons {
  height: 75vh;
  max-width: 10rem;
}
.border {
  border: 1px solid #373c4b !important;
}
img {
  width: 50px;
  height: 50px;
}
textarea::placeholder {
  color: #6c757d !important;
}

.bi-twitter-x {
  padding: 0 !important;
}

.trends-container {
  max-width: 25rem;
}

.test {
  outline: 1px solid red !important;
}
textarea {
  height: auto !important ;
}
.i-hover {
  cursor: pointer;
}
.error-container {
  height: 100vh;
}
.img-profile{
  outline: 5px solid white;
}
