:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#profile-background-image {
  background-image: url('https://img.freepik.com/foto-gratis/playa-tropical_74190-188.jpg');
  height: 100px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#profile-image {
  position: absolute;
  top: 70px;
  left: 10px;
}
